body {
    font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

.dcsm iframe {
    margin-top: 15px;
    height: 658px;
    border: none;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #009a61;
}

.dcsm #seVtype {
    width: 120px;
}

.dcsm h4 {
    color: red;
}

.dcsm .footer {
    margin-top: 10px;
}

    .dcsm .footer a {
        float: left;
        margin-right: 15px;
    }


/*footer*/
.footer {
    width: 100%;
    display: block;
    margin-top: 70px;
    padding: 30px 0 0;
    text-align: center;
    border-top: 1px solid #ddd;
}

    .footer p {
        font-size: 1.3em;
        margin-top: .5em;
    }

    .footer .logo {
        user-select: none;
        animation: myrotate 60s infinite;
    }

@keyframes myrotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
