.dcsm iframe {
    margin-top: 15px;
    height: 658px;
    border: none;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #009a61;
}

.dcsm #seVtype {
    width: 120px;
}

.dcsm .text-dnager {
    color: red;
}

.dcsm small a {
    margin: 0 15px;
}